@font-face {
    src: url(fonts/Overpass-Light.ttf);
    font-family: Overpass-Light;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Overpass-Light;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1C6E8C;
    position: fixed;
}

#navBarToggler {
    margin: 15px;
    padding: 3px;
    scale: 1.5;
    display: inline-block;
    color: #274156;
    background-color: #D0CCD0;
    border-radius: 30%;
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
}

#navBarToggler:hover {
    scale: 1.7;
}

#navBarToggler.active {
    transform: rotate(90deg);
}

#navBarList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    gap: 20px;
}

#navBarList.active {
    max-height: 300px;
}

.navBarItems {
    float: left;
}

.navBarLink {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #D0CCD0;
}