@font-face {
    src: url(fonts/Overpass-Light.ttf);
    font-family: Overpass-Light;
}

body {
    margin: 0;
    background-color: #FBFCFF;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
    font-family: Overpass-Light;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1C6E8C;
    position: fixed;
    z-index: 9999;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

#navBarToggler {
    margin: 15px;
    padding: 3px;
    scale: 1.5;
    display: inline-block;
    color: #274156;
    background-color: #D0CCD0;
    border-radius: 30%;
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
}

#navBarToggler:hover {
    scale: 1.7;
}

#navBarToggler.active {
    transform: rotate(90deg);
}

#navBarList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    gap: 20px;
}

#navBarList.active {
    max-height: 300px;
}

.navBarItems {
    float: left;
}

.navBarLink {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #D0CCD0;
}

#homeTitle {
    text-align: center;
}

#selfImg {
    border: 5px solid #274156;
    border-radius: 10%;
    float: left;
    margin-right: 20px;
}

.linkList {
    list-style-type: none;
    padding: 0;
}

.linkItem {
    background-color: #D0CCD0;
    padding: 30px;
}

.reviewImg {
    margin-top: -30px;
    margin-right: 20px;
    height: 150px;
    float: left;
}

.reviewLink {
    color: #274156;
}

.reviewLink:hover {
    color: #1C6E8C;
}

.centreImage {
    display: block;
    margin: auto;
    width: 100%;
}

#yuyuhakushoImg {
    width: 35%;
    height: 20%;
    float: left;
    margin-right: 20px;
}